/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* Ternary color */
    color: #202020;
    /* Primary color */
    margin: 0;
    padding: 0;



    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#root {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    width: 100%;
    max-width: 800px;
    border: 1px solid #202020;
    box-shadow: 1px 0 15px #202020;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: none;

    /* Add overflow to handle content going out */
    overflow-y: auto;
}

/* Header styles */
header {
    background-color: #202020;
    /* Primary color */
    color: #f0f0f0;
    /* Ternary color */
    padding: 1rem;
    text-align: left;
}

/* Home section styles */
.home {
    padding: 2rem;
    background-color: #f0f0f0;
    /* Ternary color */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.home h1 {
    color: #202020;
    /* Primary color */
    margin-top: 0;
}

.home p {
    color: #666;
    /* Medium gray */
    line-height: 1.6;
}

header h1 {
    color: #f0f0f0;
    /* Ternary color */
}

/* Main content styles */
main {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
    flex-grow: 1;
    /* Allow main to take up remaining space */
    overflow-y: auto;
    /* Allow scrolling inside main */
}

/* Blog post container */
.article {
    background-color: #fff;
    /* White background */
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #202020;
    /* Primary color */
}

/* Blog post title */
.article h2 {
    color: #202020;
    /* Primary color */
    margin-top: 0;
}

/* Blog post meta info */
.article .meta {
    color: #666;
    /* Medium gray */
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

/* Blog post content */
.article p {
    line-height: 1.6;
    margin-bottom: 1rem;
    color: #202020;
    /* Primary color */
}

/* Blog post images */
.article img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

/* Footer styles */
footer {
    background-color: #202020;
    color: #f0f0f0;
    padding: 1rem;

    max-width: inherit;

    text-align: left;
    margin-top: auto;
    /* Pushes footer to the bottom */
    box-sizing: border-box;
}

.bttns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer h1 {
    color: #f0f0f0;
}

/* Heading styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #202020;
    /* Primary color */
}

/* Paragraph styles */
p {
    line-height: 1.6;
}

/* Link styles */
a {
    color: #0014ff;
    /* Secondary color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Button styles */
button {
    background-color: #202020;
    /* Primary color */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 1rem;
}

button:hover {
    background-color: #0014ff;
    /* Secondary color */
}

.editTextArea {
    height: 300px;
}

/* Input styles */
input,
textarea {
    border: 1px solid #ccc;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    color: #202020;
    margin-top: 1rem;
    height: 100%;

}

input:focus,
textarea:focus {
    border-color: #0014ff;
    /* Secondary color */
    outline: none;
}

/* Navbar styles */
.navbar {
    background-color: #202020;
    /* Primary color */
    padding: 1rem;
    display: flex;
    justify-content: left;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.nav-links li {
    color: white;
    cursor: pointer;
}

.nav-links li:hover {
    color: #f0f0f0;
    /* Ternary color on hover */
}

/* Navbar styles */
nav {
    background-color: #202020;
    /* Primary color */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: #4687c7c4 solid 1px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

nav ul li {
    color: white;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #f0f0f0;
    /* Ternary color on hover */
}

.active {
    color: #0014ff;
    /* Secondary color */
}

.homeFeed {
    text-decoration: none;
    /* Remove underline */
    color: inherit;
    /* Keep default text color */
}

.homeFeed:hover {
    text-decoration: none;
    /* Ensure no underline on hover */
    color: #0014ff;
    /* Secondary color on hover */
}

.post-content {
    min-width: 100%;
}